services:
  mariadb:
    image: mariadb:11
    environment:
      - MYSQL_DATABASE=nrl
      - MYSQL_USER=nrl_user
      - MYSQL_PASSWORD=Amjed2002
      - MYSQL_ROOT_PASSWORD=changeMeRoot
    ports:
      - "3307:3306"     # <— endret fra 3306:3306
    volumes:
      - mariadb_data:/var/lib/mysql


  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - mariadb
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      # (trengs ikke hvis du ikke overstyrer connstring fra kode)
    ports:
      - "8080:8080"

volumes:
  mariadb_data:
