services:
  mariadb:
    image: mariadb:11.8
    environment:
      MYSQL_ROOT_PASSWORD: "nrlapp321"
      MYSQL_DATABASE: "nrl"
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "3307:3306"          # host:container

  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - mariadb
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"   # Kestrel inne i container
      ConnectionStrings__DefaultConnection: "Server=mariadb;Port=3306;Database=nrl;User ID=root;Password=nrlapp321;SslMode=none;"
    ports:
      - "8080:8080"          # åpnes i nettleseren som http://localhost:8080

volumes:
  mariadb_data:
