version: "2.4"
services:
  mariadb:
    image: mariadb:11
    container_name: nrl-mariadb
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: nrl
      MYSQL_USER: nrl_user
      MYSQL_PASSWORD: nrl_pass
      MYSQL_ROOT_PASSWORD: changeMeRoot
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
  nrlapp:
    build: .
    depends_on:
      - mariadb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=mariadb;Port=3306;Database=nrl;User Id=nrl_user;Password=nrl_pass;SslMode=none;TreatTinyAsBoolean=true;CharSet=utf8mb4
    ports:
      - "8080:8080"
      - "8081:8081"

volumes:
  dbdata:
