version: "3.9"

services:
  mariadb:
    image: mariadb:11
    container_name: nrlapp-db
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: nrlapp
      MARIADB_USER: nrl_user
      MARIADB_PASSWORD: nrl_pass
      MARIADB_ROOT_PASSWORD: root_pass
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: nrlapp-phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mariadb
      PMA_USER: nrl_user
      PMA_PASSWORD: nrl_pass
    ports:
      - "8080:80"

volumes:
  dbdata:


